/* Splash page specific stuff */

.splash #top-logo {
    box-sizing: border-box;
    width: 50%;
    text-align: center;
    display: inline-block;
    vertical-align: top;
    line-height: 40px;
    margin-left: 1em;
    margin-right: 1em;
    font-size: x-large;
}
.splash #menu-map-head {
    margin-right: 0.5em;
}
.splash .doshin-image {
    width: 8px;
    height: 8px;
}
.splash #top-logo h1 {
    display: inline-block;
    font: 40px/45px 'Aclonica', 'edding-780-1', 'edding-780-2', Charcoal,
        sans-serif;
    vertical-align: middle;
    margin: 0;
    padding: 0;
    background-color: transparent;
    border: none;
}
.splash #feedback-link {
    font-size: larger;
    margin-bottom: 1rem;
}
.splash #news-housing {
    height: 80px;
}
.splash #chat-housing {
    height: 250px;
}

.splash .boxes {
    padding: 0;
}

/* Medium and Large screen modifications */
@media screen and (min-width: 800px) {
    .splash #top-logo {
        font-size: inherit;
    }
}
