[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
atomicwrites = "==1.4.0"
attrs = "==23.2.0"
certifi = "==2024.2.2"
chardet = "==4.0.0"
idna = "==2.10"
lxml = "==4.9.4"
more-itertools = "==7.2.0"
pluggy = "==0.13.1"
py = "==1.10.0"
pytest = "==8.2.1"
requests = "==2.31.0"
six = "==1.16.0"
urllib3 = "*"
wcwidth = "==0.2.8"

[requires]
python_version = "3.7"
