Mako==1.1.0
MarkupSafe==1.1.0
atomicwrites==1.4.0
attrs==21.2.0
certifi==2021.5.30
chardet==4.0.0
idna==3.2
lxml==4.6.3
more-itertools==8.8.0
pluggy==0.13.1
py==1.10.0
testresources==2.0.1
pytest==6.2.4
requests==2.26.0
six==1.16.0
urllib3==1.26.6
wcwidth==0.2.5
