#!/bin/bash

archive="nw-`date +%Y-%m-%d`.tgz"
user="tchalvak"
host="ninjawars.net"
config="test.conf"

echo -ne "Starting lint check..."
./scripts/lint deploy/
echo "...done"

echo -ne "Creating archive..."
./scripts/create-archive $archive
echo "...done"

echo "Transferring archive..."
scp $archive $user@$host:/home/ninjawars/
echo "...done"

echo "Transferring most recent deploy script..."
scp ./scripts/deploy $user@$host:/home/ninjawars/
echo "...done"

echo "Executing remote deployment ($config)..."
ssh $user@$host "cd /home/ninjawars/; ./deploy --clean -c=$config $archive"
echo "...done"

echo "Remote deployment completed!"
