server {
	listen 8765 ssl http2;
	listen 443 ssl http2;
	listen [::]:443 ssl http2;
	listen [::]:8765 ssl http2;
	ssl_verify_client off; 
	include snippets/self-signed.conf;
	include snippets/ssl-params.conf;
	server_name nw.local localhost;

	root /src/ninjawars/deploy/www;
	charset utf-8;
	#error_page 404 /404.html;
	error_page 404 /404.php;

	# redirect server error pages to the static page /50x.html
	error_page 500 502 503 504 /50x.html;

	# Just use generic nginx error pages for now
	location = /50x.html {
		root /usr/share/nginx/html;
	}

	location = /favicon.ico {
		try_files /dev_favicon.ico =404;
	}

	# Debugging on settings
	#log_not_found on;
	access_log /var/log/nginx/access.log;
	error_log /var/log/nginx/error.log warn;
	#autoindex on;
	#rewrite_log on;
	add_header X-uri "$uri";

	location ~ ^/(js|css|images|files)/ {
		rewrite "^/(.*)\.[\d]{10,12}\.(.*)$" /$1.$2;
		expires 365d;
		try_files $uri =404;
	}

	location / {
		#default fallback of everything else block
		try_files $uri @php;
		#add_header X-Frame-Options SAMEORIGIN;
		add_header Content-Security-Policy "default-src * blob: filesystem: about: ws: wss: 'unsafe-eval' 'unsafe-inline' 'unsafe-dynamic'; script-src 'self' https://ajax.googleapis.com https://api.github.com 'unsafe-inline' 'unsafe-eval'; connect-src * 'unsafe-inline'; img-src * data: blob: 'unsafe-inline'; frame-src * 'self' https://localhost:* https://localhost:8765 http://www.ninjawars.net http://ninjawars.net;  style-src 'self' https://use.fontawesome.com https://fonts.gstatic.com data: blob: 'unsafe-inline'; font-src 'self' https://use.fontawesome.com https://fonts.gstatic.com data: blob: 'unsafe-inline';";
		add_header X-Content-Type-Options nosniff;
	}

	location = /npc.php {
		return 302 /npc/;
	}

	location = /news.php {
		return 301 /news/;
	}

	location = /account_issues.php {
		return 302 /assistance;
	}

	location = /confirm.php {
		return 302 /assistance/confirm$is_args$args;
	}

	location = /resetpassword.php {
		return 302 /assistance$is_args$args;
	}

	location ~ ^/(main\.php|tutorial\.php) {
		return 302 /intro;
	}

	location = /index.php {
		return 302 /;
	}

	location = /list_all_players.php {
		return 302 /list$is_args$args;
	}

	location ^~ /webgame {
		rewrite ^ / permanent;
	}

	location ~ \.php$ {
		#add_header X-Frame-Options SAMEORIGIN;
		add_header Content-Security-Policy "default-src * blob: filesystem: about: ws: wss: 'unsafe-eval' 'unsafe-inline' 'unsafe-dynamic'; script-src 'self' https://ajax.googleapis.com https://api.github.com 'unsafe-inline' 'unsafe-eval'; connect-src * 'unsafe-inline'; img-src * data: blob: 'unsafe-inline'; frame-src * 'self' https://localhost:* https://localhost:8765 http://www.ninjawars.net http://ninjawars.net;  style-src 'self' https://use.fontawesome.com https://fonts.gstatic.com data: blob: 'unsafe-inline'; font-src 'self' https://use.fontawesome.com https://fonts.gstatic.com data: blob: 'unsafe-inline';";
		fastcgi_param PHP_VALUE "session.cookie_domain= \n date.timezone=America/New_York \n default_charset=UTF-8 \n";
		# Check session via: php-fpm8.0 -i | grep session.gc
		fastcgi_pass unix:/run/php/php8.0-fpm.sock;
		fastcgi_param SCRIPT_FILENAME $document_root/front-controller.php;
		include fastcgi_params;
	}

	location @php {
		#add_header X-Frame-Options SAMEORIGIN;
		add_header Content-Security-Policy "default-src * blob: filesystem: about: ws: wss: 'unsafe-eval' 'unsafe-inline' 'unsafe-dynamic'; script-src 'self' https://ajax.googleapis.com https://api.github.com 'unsafe-inline' 'unsafe-eval'; connect-src * 'unsafe-inline'; img-src * data: blob: 'unsafe-inline'; frame-src * 'self' https://localhost:* https://localhost:8765 http://www.ninjawars.net http://ninjawars.net;  style-src 'self' https://use.fontawesome.com https://fonts.gstatic.com data: blob: 'unsafe-inline'; font-src 'self' https://use.fontawesome.com https://fonts.gstatic.com data: blob: 'unsafe-inline';";
		fastcgi_param PHP_VALUE "session.cookie_domain= \n date.timezone=America/New_York \n default_charset=UTF-8 \n";
		# Check session via: php-fpm8.0 -i | grep session.gc
		fastcgi_pass unix:/run/php/php8.0-fpm.sock;
		fastcgi_param SCRIPT_FILENAME $document_root/front-controller.php;
		include fastcgi_params;
	}
}
