server {
	listen 80;
	server_name nw.local;

	root /srv/ninjawars/deploy/www;
	charset utf-8;
	#error_page 404 /404.html;
	error_page 404 /404.php;

	# redirect server error pages to the static page /50x.html
	error_page 500 502 503 504 /50x.html;

	# Just use generic nginx error pages for now
	location = /50x.html {
	    root /usr/share/nginx/html;
	}

	index index.php;

	# Debugging on settings
	log_not_found on;
	autoindex on;
	rewrite_log on;
	add_header X-uri "$uri";

	location ~ /(js|css|images|files) {
		rewrite "^/(.*)\.[\d]{10,12}\.(.*)$" /$1.$2;
		try_files $uri =404;
	}

	location / {
		#default fallback of everything else block
		try_files $uri $uri/ @php;
	}

	location ~ /npc\.php {
	    return 302 /npc/;
	}

	location ~ /tutorial\.php {
	    return 302 /main.php$is_args$args;
	}

	location ~ /list_all_players\.php {
	    return 302 /list$is_args$args;
	}

	location ~ /webgame(/*) {
		rewrite ^ / permanent;
	}

	location ~ \.php$ {
		fastcgi_param PHP_VALUE "auto_prepend_file=/srv/ninjawars/deploy/lib/base.inc.php \n session.cookie_domain=nw.local \n date.timezone=America/New_York \n default_charset=UTF-8 \n";
		fastcgi_pass unix:/var/run/php5-fpm.sock;
		fastcgi_index index.php;
		fastcgi_param SCRIPT_FILENAME $document_root/front-controller.php;
		include fastcgi_params;
	}

	location @php {
		fastcgi_param PHP_VALUE "auto_prepend_file=/srv/ninjawars/deploy/lib/base.inc.php \n session.cookie_domain=nw.local \n date.timezone=America/New_York \n default_charset=UTF-8 \n";
		fastcgi_pass unix:/var/run/php5-fpm.sock;
		fastcgi_index index.php;
		fastcgi_param SCRIPT_FILENAME $document_root/front-controller.php;
		include fastcgi_params;
	}
}
