server{
	listen 80;
	server_name ninjawars.net;
    return 301          http://www.ninjawars.net$request_uri;
}

server {
	listen 80;
	server_name www.ninjawars.net nw.remote;

	root /srv/ninjawars/deploy/www;
	charset utf-8;

    error_page 404 /404.php;

    # redirect server error pages to the static page /50x.html
    error_page 500 502 503 504 /50x.html;

    # Just use generic nginx error pages for now
    location = /50x.html {
        root /usr/share/nginx/html;
    }

	index index.php;

	location ~ ^/(js|css|images|files)/ {
		rewrite "^/(.*)\.[\d]{10,12}\.(.*)$" /$1.$2;
		expires 365d;
		try_files $uri =404;
	}

	location / {
		#default fallback of everything else block
		try_files $uri @php;
	}

	location = /npc.php {
	    return 302 /npc/;
	}

	location = /news.php {
	    return 301 /news/;
	}

	location = /account_issues.php {
	    return 302 /assistance;
	}

	location = /confirm.php {
	    return 302 /assistance$is_args$args;
	}

	location ~ ^/(main\.php|tutorial\.php) {
	    return 302 /intro;
	}

	location = /index.php {
		return 302 /;
	}

	location = /list_all_players.php {
	    return 302 /list$is_args$args;
	}

	location ^~ /webgame {
		rewrite ^ / permanent;
	}

	location ~ \.php$ {
		# fastcgi param stuff now set by [HOST=] sections in php.ini.
		#fastcgi_param PHP_VALUE "session.cookie_domain=www.ninjawars.net \n date.timezone=America/New_York \n default_charset=UTF-8 \n";
		fastcgi_pass unix:/var/run/php5-fpm.sock;
		fastcgi_param SCRIPT_FILENAME $document_root/front-controller.php;
		include fastcgi_params;
	}

	location @php {
		# fastcgi param stuff now set by [HOST=] sections in php.ini.
		#fastcgi_param PHP_VALUE "session.cookie_domain=www.ninjawars.net \n date.timezone=America/New_York \n default_charset=UTF-8 \n";
		fastcgi_pass unix:/var/run/php5-fpm.sock;
		fastcgi_param SCRIPT_FILENAME $document_root/front-controller.php;
		include fastcgi_params;
	}
}
