server{
	listen 80;
	server_name ninjawars.net;
    return 301          http://www.ninjawars.net$request_uri;
}

server {
	listen 80;
	server_name www.ninjawars.net nw.remote;

	root /srv/ninjawars/deploy/www;
	charset utf-8;

    error_page 404 /404.php;

    # redirect server error pages to the static page /50x.html
    error_page 500 502 503 504 /50x.html;

    # Just use generic nginx error pages for now
    location = /50x.html {
        root /usr/share/nginx/html;
    }

	index index.php;

	location ~ /(js|css|images|files) {
		rewrite ^/(.*)\.[\d]+\.(.*)$ /$1.$2;
		expires 365d;
		try_files $uri =404;
	}

	location / {
		#default fallback of everything else block
		try_files $uri @php;
	}

	location ~ /npc\.php {
	    return 302 /npc/;
	}

    location = /ninjamaster/ {
    	# the admin area of the site
    	#index index.php;
        try_files $uri/ /ninjamaster/index.php last;
    }

	location ~ /(tutorial\.php|main\.php) {
	    return 302 /intro$is_args$args;
	}

	location ~ /list_all_players\.php {
	    return 302 /list$is_args$args;
	}

	location ~ /webgame(/*) {
  		rewrite ^ / permanent;
	}

	location ~ \.php$ {
		# fastcgi param stuff now set by [HOST=] sections in php.ini.
		#fastcgi_param PHP_VALUE "auto_prepend_file=/srv/ninjawars/deploy/lib/base.inc.php \n session.cookie_domain=www.ninjawars.net \n date.timezone=America/New_York \n default_charset=UTF-8 \n";
		fastcgi_pass unix:/var/run/php5-fpm.sock;
		fastcgi_index index.php;
		fastcgi_param SCRIPT_FILENAME $document_root/front-controller.php;
		include fastcgi_params;
	}

	location @php {
		# fastcgi param stuff now set by [HOST=] sections in php.ini.
		#fastcgi_param PHP_VALUE "auto_prepend_file=/srv/ninjawars/deploy/lib/base.inc.php \n session.cookie_domain=www.ninjawars.net \n date.timezone=America/New_York \n default_charset=UTF-8 \n";
		fastcgi_pass unix:/var/run/php5-fpm.sock;
		fastcgi_index index.php;
		fastcgi_param SCRIPT_FILENAME $document_root/front-controller.php;
		include fastcgi_params;
	}
}
