name: PHP Composer

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    
    - name: Setup PHP
      uses: shivammathur/setup-php@2.12.0
      with:
        php-version: '8.0'
        extensions: mbstring, intl, pgsql, xml
        ini-values: post_max_size=256M, max_execution_time=180
        coverage: xdebug    
        tools: php-cs-fixer, phpunit

    - name: Setup problem matchers for PHP
      run: echo "::add-matcher::${{ runner.tool_cache }}/php.json"

    - name: Setup problem matchers for PHPUnit
      run: echo "::add-matcher::${{ runner.tool_cache }}/phpunit.json"

    - name: Validate composer.json and composer.lock
      run: ./composer.phar validate

    - name: Get composer cache directory
      id: composer-cache
      run: echo "::set-output name=dir::$(composer config cache-files-dir)"

    - name: Cache dependencies
      uses: actions/cache@v2
      with:
        path: ${{ steps.composer-cache.outputs.dir }}
        key: ${{ runner.os }}-composer-${{ hashFiles('**/composer.lock') }}
        restore-keys: ${{ runner.os }}-composer-

    - name: Install dependencies
      if: steps.composer-cache.outputs.cache-hit != 'true'
      run: ./composer.phar install --prefer-dist --no-progress --no-suggest

    - name: Create autoload file if necessary
      if: steps.composer-cache.outputs.cache-hit == 'true'
      run: |
        ls -halt ./vendor/
        ./composer.phar dump-autoload

    # Add a test script to composer.json, for instance: "test": "vendor/bin/phpunit"
    # Docs: https://getcomposer.org/doc/articles/scripts.md

    - name: Run test suite
      run: |
        ln -s ./resources.build.php ./deploy/resources.php
        ./composer.phar run-script unit-test
